/*HOME*/

.home-top-utilitybox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 650px;
  margin: auto;
  padding-top: 30px;
}

#logo {
  margin-right: 5px;
  margin-left: -5px;
  font-size: 30px;
}

.app-name {
  margin-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-button {
  border: solid 2px black;
  padding: 5px 10px;
  text-decoration: none;
  box-shadow: 5px 5px 0px grey;
  color: black;
  margin-right: 50px;
}

.upload-button:hover {
  background-color: rgb(223, 222, 222);
}

.home-counter {
  width: 600px;
  margin-left: 45px;
}

/*IMAGE TILES*/

.image-tile-label {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.image-tile {
  width: 250px;
  height: 200px;
  border: solid 2px black;
}

.home-grid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.home-grid {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: auto;
  justify-items: center;
  
}

.edit-delete-flexbox {
  display: flex;
}

.edit-btn {
  margin-right: 5px;
}

.edit-btn, .delete-btn {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  background-color: white;
  border: solid 2px black;
}

.edit-btn:hover, .delete-btn:hover {
  cursor: pointer;
  background-color: rgb(223, 222, 222);
}

.material-symbols-outlined {
  color: black;
}

/*UPLOAD*/
.form-control {
  text-align: center;
  margin-top: 50px;
}

.add-image-submit-button {
  border: solid 2px black;
  background-color: white;
}

.add-image-submit-button:hover {
  background-color: rgb(223, 222, 222);
  cursor: pointer;
}

.image-upload.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image-upload__preview {
  width: 20rem;
  height: 20rem;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.image-upload__preview img {
  width: 100%;
  height: 100%;
}

/*EDIT*/

.back-button {
  border: solid 2px black;
  padding: 5px 10px;
  text-decoration: none;
  color: black;
  margin-right: 400px;
}

.back-button:hover, .edit-submit-button:hover {
  background-color: rgb(223, 222, 222);
  cursor: pointer;
}

.edit-page-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-input {
  border: solid 2px black;
}

.edit-submit-button {
  border: solid 2px black;
  background-color: white;
  margin-left: 5px;
}

.edit-page-image {
  margin-top: 30px;
  width: 250px;
  height: 200px;
}